@charset "utf-8";

/*
Projet  : Starter CSS
Author  : Stéphane Deborne
Version : 1.0
Date    : 14/10/2015
*/

/*---------------------------------------------*/
/* GLOBAL*/
/*---------------------------------------------*/
html {
	box-sizing:border-box;
	height: 100%;
	font-size: 100%;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	position: relative;
	height: 100%;
	font-family: "Verdana", sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.625em; /*26px*/
	color: #333333;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}
.left {
float: left;
}
.right {
float: right;
}
/* links*/
/*---------------------------*/
a {
	font-family: "Arial black", arial, sans-serif;
	font-size:0.9em;
	text-decoration: none;
	color: #e84c3d;
}


/* Typographie*/
/*---------------------------*/
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
	font-weight: 700;
	color: #1c1f26;
	margin: 0 0 0.71875em 0;
	line-height: 1.25em;
}
h1, .h1-like {
	font-size: 2em;
	color: #fff;
	padding-top: 0.8em;
	margin-bottom: 3px;
}

h2, .h2-like {
	font-size: 1.75em;
}
h3, .h3-like {
	font-size: 1.5em;
}
h4, .h4-like {
	font-size: 1.25em;
}
h5, .h5-like {
	font-size: 1.125em;
}
h6, .h6-like {
	font-size: 1em;
}

p {
	margin: 0 0 .7em 0;
	height: 100%;
}

/* table */
/*---------------------------*/
table {
	width: 100%;
	margin: 0.71875em 0;
	table-layout: fixed;

}
tr,
td,
th {
	vertical-align: middle;
}
thead th {
	padding: 0.71875em 0;
	border-bottom: 2px solid #c1c1c4;
	text-align: left;
	font-weight: 700;
}
tbody td {
	padding: 0.71875em;
	border-bottom: 1px solid #c1c1c4;
}
tbody tr:nth-child(even) {
	background: #E7E7E7;
}
/* Forms */
/* -----------------------------------------------------*/
form ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
input,
label,
select {
    display: block;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1em;
}

label {
    margin-bottom: .35938em;
    font-weight: 700;
    cursor: pointer;
}

label.required:after {
    content: " *";
}

textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
select[multiple=multiple] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: .71875em;
    padding: .625em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 1em;
    background-color: #fff;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
select[multiple=multiple]:hover {
    border-color: #ceced0;
}

textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
select[multiple=multiple]:focus {
    border-color: #D35F60;
    outline: none;
    box-shadow: 0 0 5px rgba(205,75,77,.7);
}

textarea {
    resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: .71875em;
}

input[type="file"] {
    width: 100%;
    margin-bottom: .71875em;
    padding-bottom: .23958em;
}

select {
    width: auto;
    margin-bottom: .71875em;
    max-width: 100%;
}

fieldset {
    margin: 0 0 .71875em 0;
    padding: 1.4375em;
    border: 1px solid #e8e8e9;
    border-radius: 0;
    background: #fafafa;
}

::-webkit-input-placeholder {
    color: #c8c9ca;
}

:-moz-placeholder {
    color: #c8c9ca;
}

::-moz-placeholder {
    color: #c8c9ca;
}

:-ms-input-placeholder {
    color: #c8c9ca;
}
input[id="text_field"] {
    display: inline-block;
    width: 70%;
}
label[for="text_field"] {
    display: inline-block;
    width: 15%;
}

/* Grouping content*/
/*---------------------------*/

img {
	max-width: 100%;
	height: auto;
	display: inline-block;
	padding: 10px;
	
} 
video, audio {
	max-width: 600px;
	width: 100%;
}

/* Buttons*/
/*---------------------------*/
.btn {
	display: inline-block;
	position: relative;
	color: #fff;
	background-color: #d35f60;
	border: none;
	border-radius: 50%;
	padding: 0 1.5em;
	line-height: 3.5em;
	white-space: nowrap;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn:hover {
	color: #fff;
	background-color: #a84b4b;
}
.btn:active {
	top: 1px;
}

.btn--small {
	font-size: 0.75em;
}
.btn--large {
	font-size: 1.5em;
}
.btn--secondary {
	color: #666;
	background-color: #ededed;
}
.btn--secondary:hover {
	color: #ededed;
	background-color: #666;
}


/*---------------------------------------------*/
/* CONTENT*/
/*---------------------------------------------*/
.wrap {
	padding-left: 10px;
	padding-right: 10px;
}

.testimonial-inner {
  /*background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 25px;*/
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 10.75);
  display: block;
  position: relative;
}
.testimonial-inner:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 35px;
  margin-left: -40px;
}
.testimonial-inner:before {
  content: '';
  position: absolute;
  transform: rotate(45deg);
  left: 47%;
  width: 50px;
  height: 50px;
  bottom: -31px;
  z-index: -1;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 10.75);
}
.over {
	position: relative;
}
.over > img {
	width: 100%;
	padding:0;
}
.over div {
	position: absolute;
	top: 0;
	right: 0;
	left:0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.46);
		text-align: center;
		padding-top: 15%;
		opacity: 0;
		cursor: pointer;
}
.over div a {
display: block;

}
.over:hover div {
	opacity: 1;
}
.phone {
	display: block;
}
/* background-color*/
/*---------------------------------------------*/
.bg-r{
	background-color:#c1392b;
	padding-bottom: 50px;
	padding-top: 35px;
}
.bg-rr{
	background-color:#e84c3d;
	padding-bottom: 50px;
	padding-top: 35px;
}
.color-f{
	background-color:#b7b7b7;
}
.color-r{
	background-color:#333333;
	color:#fff;
}

/* background-grid*/
/*---------------------------------------------*/
.cadre{
	background-color:#fff;
	/*border: 5px solid #e84c3d;*/
}



/*---------------------------------------------*/
/* grid*/
/*---------------------------------------------*/

/* mobil first */
@media (min-width: 481px) {
	.wrap {
		max-width: 960px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.grid:after {
		display: table;
		content: "";
		clear: both;
	}
	.grid {
		margin-right: -10px;
		margin-left: -10px;
	}
	.grid [class*="col-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.grid [class="col-6"] {
		float: left;
x		padding-right: 10px;
		
	}
	.col-1 {
		width: 8.333%;
	}
	.col-2 {
		width: 16.666%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.333%;
	}
	.col-5 {
		width: 41.667%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.333%;
	}
	.col-8 {
		width: 66.667%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.333%;
	}
	.col-11 {
		width: 91.667%;
	}
	.col-12 {
		width: 100%;
	}
	.push-2 {

		margin-left: 16.666%;

	}
	/* table*/
	/*---------------------------*/
	.table {
		display: table;
		width: 100%;
	}
	.fixed {
		table-layout: fixed;
	}
	.row {
		display: table-row;
		float: bottom right;
	}
	.cell {
		display: table-cell;
		vertical-align: top;
	}
}
/* tablet view*/
@media (min-width: 481px) and (max-width: 768px) {
	.grid-t {/*to use in HTML only if no "grid" placed in previous choregraphie*/
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-t:after {
		display: table;
		content: "";
		clear: both;
	}
	
	.grid-t [class*="col-t-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-t-1 {
		width: 8.333%;
	}
	.col-t-2 {
		width: 16.666%;
	}
	.col-t-3 {
		width: 25%;
	}
	.col-t-4 {
		width: 33.333%;
	}
	.col-t-5 {
		width: 41.667%;
	}
	.col-t-6 {
		width: 50%;
	}
	.col-t-7 {
		width: 58.333%;
	}
	.col-t-8 {
		width: 66.667%;
	}
	.col-t-9 {
		width: 75%;
	}
	.col-t-10 {
		width: 83.333%;
	}
	.col-t-11 {
		width: 91.667%;
	}
	.col-t-12 {
		width: 100%;
	}

}
/* mobile view*/
@media (max-width: 480px) {
	.grid-m {/*to use in HTML if you want to use grid and floats in mobile view*/
		margin-left: -10px;
		margin-right: -10px;
	}
	.grid-m:after {
		display: table;
		content: "";
		clear: both;
	}
	
	.grid-m [class*="col-m-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
	}
	.col-m-1 {
		width: 8.333%;
	}
	.col-m-2 {
		width: 16.666%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.333%;
	}
	.col-m-5 {
		width: 41.667%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.333%;
	}
	.col-m-8 {
		width: 66.667%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.333%;
	}
	.col-m-11 {
		width: 91.667%;
	}
	.col-m-12 {
		width: 100%;
	}

}
/* helper*/
/*---------------------------*/

.txt-center {
	text-align: center;
}
.txt-right {
	text-align: right;
}
.txt-left {
	text-align: left;
}


.v-middle {
	vertical-align: middle;
}
.v-top {
	vertical-align: top;
}
.v-bottom {
	vertical-align: bottom;
}


/*
m = margin
a, t, b = all, top, bottom
n, s, m, l = none, small, medium, large
*/

.man {
	margin: 0px !important;
}
.mas {
	margin: 20px !important;
}
.mam {
	margin: 40px !important;
}
.mal {
	margin: 60px !important;
}



.mbn {
	margin-bottom: 0px !important;
}
.mbs {
	margin-bottom: 20px !important;
}
.mbm {
	margin-bottom: 40px !important;
}
.mbl {
	margin-bottom: 60px !important;
}


.mtn {
	margin-top: 0px !important;
}
.mts {
	margin-top: 20px !important;
}
.mtm {
	margin-top: 40px !important;
}
.mtl {
	margin-top: 60px !important;
}

.pdm {
	padding: 40px !important;
}
/* header*/
/*---------------------------*/

#headers {
	background: #eaeaea;
}

.logo{
	margin: 0;
	display: inline-block;
	padding-top: 0;
}
nav{
	margin-left: 10.5%;
	display: inline-block;
	padding-top: 0;
}
header {
	position: relative;
}
.lang {
	position: absolute;
	bottom: 0;
	left: 0;
}
nav ul {
	margin: 0;
	padding: 0;
}
.menu {
	height: 0;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
}
.menu-collapse {
	height: auto;
	opacity: 1;

}
.menu ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.menu li:hover{
	background-color: #b7b7b7;

}
.menu li {
	display: block;
}

.menu li a {
	display: block;
	padding: 8em 1em 0;
	border-right: 2px solid #b7b7b7;
	width: 120px;
}

.menu .submenu {
	position: relative;
}
.menu .submenu .submenu-galeries {
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
}
.menu .submenu:hover .submenu-galeries {
	opacity: 1;
}
.menu .submenu-galeries {
		position: absolute;
		top: 141px;
		left: 0;
		right: 0;
		z-index: 1000;

}

.menu .submenu-galeries li a {

	border-right: none;
	border-bottom: 2px solid #b7b7b7;
	padding: 0.5em 1em;
	color: #fff;
}		

 
/*--.menu .select {
	background: #b7b7b7;
	color: #fff;
}--*/

/* color nav*/
/*---------------------------*/
.select-r{
	color:#c1392b;
}
.select-r:hover{
	color:#e84c3d;
}
.select-b{
	color:#297fb8;
}
.select-b:hover{
	color:#3598db;
}
.select-vi{
	color:#5b48a2;
}
.select-vi:hover{
	color:#745dc5;
}
.select-ve{
	color:#16a086;
}
.select-ve:hover{
	color:#1bbc9b;
}
.select-j{
	color:#ffa800;
}
.select-j:hover{
	color:#ffcd02;
}
/* background-color*/
/*---------------------------*/
.bg-select-r a{
	background-color:#c1392b;
}
.bg-select-r li a:hover{
	background-color: #e84c3d;
}
.bg-select-b a{
	background-color:#297fb8;
}
.bg-select-b li a:hover{
	background-color: #3598db;
}
.bg-select-vi a{
	background-color:#5b48a2;
}
.bg-select-vi li a:hover{
	background-color: #745dc5;
}
.bg-select-ve a{
	background-color:#16a086;
}
.bg-select-ve li a:hover{
	background-color: #1bbc9b;
}
.bg-select-j a{
	background-color:#ffa800;
}
.bg-select-j li a:hover{
	background-color: #ffcd02;
}
/* burger*/
/*---------------------------*/
.js .btn-menu {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	background: url('../img/menu.png') no-repeat;
}


/* Main*/
/*---------------------------*/


/* footer*/
/*---------------------------*/

#totop {
	text-align: center;
	display: block;
	color: #d35f60;
	border-radius: 5px;
	padding: 1em 2em;
	margin-bottom: 20px;
}


	/* Boutons rotate*/
	/*---------------------------*/
	
.buttons > a {
  position: relative;
  font-size: 25px;
  text-align: center;
  display: inline-block;
  color: white;
  z-index: 1;
  border-radius: 50%;
  background: #333333;
  border: 0 none;
  line-height: 55px;
  margin: 10px;
  width: 55px;
  height: 55px;
}
.buttons > a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0 none;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid white;
}
.buttons > a:hover::before {
  background: #02c39a;
  border-radius: 0;
  border: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.buttons > a.phone:hover::before {
  background: #16a086;
}
.buttons > a.facebook:hover::before {
  background: #3b5998;
}
.buttons > a.twitter:hover::before {
  background: #1cadeb;
}
.buttons > a.instagram:hover::before {
  background: #EB9532;
}
.buttons > a.pinterest:hover::before {
  background: #C92228;
}
.buttons > a.email:hover::before {
  background: #16a086;
}
.buttons > a.tumblr:hover::before {
  background: #36465d;
}


footer small {
	text-align: center;
	display: block;
}

/*---------------------------------------------*/
/* RWD*/
/*---------------------------------------------*/
@media (min-width: 481px) {
	/* header*/
	/*---------------------------*/

	.menu {
		height: auto;
		opacity: 1;
	}
	.menu ul {
		text-align: inherit;
	}
	.menu li {
		display: inline-block;	
	}
	
	.menu a {	
		padding: 0.5em 1em;
	}
	.menu a:hover {
		background: #b7b7b7;
		height: auto;
	}
	.js .btn-menu {
		display: none;
	}
	/* footer*/
	/*---------------------------*/
	
	.buttons {
		margin-top: 20px;
}

	
	#totop {
		text-align: inherit;
		display: inline;
		color: #D35F60;
		background: none;
		border-radius: 0;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}

	footer small {
		text-align: inherit;
	}

}
@media (max-width: 733px) {
		
.logo {
	margin: 0;
	display: block;
	}
nav{
	margin-left: 18.5%;
	display: inline-block;
	padding-top: 0;
}
.menu {
	
	overflow: hidden;
	}
.menu .submenu .submenu-galeries {
	opacity: 1;
	}
.menu li a {
	display: block;
	padding: 8em 1em 0;
	border-right: none;
	width: auto;
	}
	
.left {
	float: none;
	}
.right {
	float: none;
	}
	
}

/*desktop view*/
@media (min-width: 769px) {

	a {
		-webkit-transition: color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
	}
	a:active, a:hover {
		color: #d35f60;
	}
	/* header*/
	/*---------------------------*/
	.logo {
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.logo:hover {
		opacity: 0.75;
		transform: scale(0.85);
	}
	.menu a {	
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	
}
/* RWD ADAPTATIF */
/*---------------------------------------------*/

/* ipad view */
@media (min-width: 481px) and (max-width: 768px) {
 .left {
	float: none;
	}
.right {
	float: none;
	}
.logo {
	margin: 0;
	display: block;
	}
nav{
	margin-left: 18.5%;
	display: inline-block;
	padding-top: 0;
}
.menu {
	
	overflow: hidden;
	}
.menu .submenu .submenu-galeries {
	opacity: 1;
	}
.menu li a {
	display: block;
	padding: 8em 1em 0;
	border-right: none;
	width: auto;
	}
	
footer small {
	text-align: center;
	display: block;
	}	

}



/* mobil view */
@media (max-width: 480px) {

.logo {
	margin: 0;
	display: block;
	}
nav{
	margin-left: 18.5%;
	display: inline-block;
	padding-top: 0;
}
.menu {
	
	overflow: hidden;
	}
.menu .submenu .submenu-galeries {
	opacity: 1;
	}
.menu li a {
	display: block;
	padding: 8em 1em 0;
	border-right: none;
	width: auto;
	}
	
.left {
	float: none;
	}
.right {
	float: none;
	}
}